<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      I'm <span class="text-heading"> Apeksha </span><br> Angular Developer
    </div>
    <div class="col-6">

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>About</h4>
      <span>
        Hi, I'm Apeksha, a frontend developer passionate about crafting engaging web experiences.
        With a focus on marrying design and functionality,
        I specialize in creating intuitive user interfaces that leave a lasting impression.
         I thrive on the dynamic nature of web development, constantly exploring new technologies to stay ahead of the curve.
       I bring a unique blend of creativity and technical prowess to every project. Through my portfolio, I invite you to dive into my work and see firsthand the dedication I bring to each endeavor.
       Let's collaborate and turn your ideas into digital masterpieces!
      </span>
    </div>
  </div>
  <div class="row">
    <h4>My Skills</h4>
    <div class="col-4">

    </div>
  </div>
</div>
