
<nav class="navbar bg-primary  navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  <img [src]="'assets/images/logo.jpg'"  width="100" height="50"/>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" (click)="scrollToSection('section1')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="scrollToSection('section2')">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('section3')">Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "(click)="scrollToSection('section4')">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


