<!-- resume.component.html -->

<div class="resume">
  <div class="header">
    <h1>{{ resumeData.name }}</h1>
    <p class="line-height"> {{ resumeData.address }}, {{ resumeData.city }}, {{ resumeData.state }}, {{ resumeData.zip }}</p>
    <p class="line-height">Email: {{ resumeData.email }}</p>
    <p class="line-height">Phone: {{ resumeData.phone }}</p>
    <p class="line-height">LinkedIn: <a  target="_blank" href="https://www.linkedin.com/in/apeksha-acharya-994047165/">https://www.linkedin.com/in/apeksha-acharya-994047165/</a></p>
  </div>
<hr>
  <div class="objective">
    <h2>Objective</h2>
    <p>{{ resumeData.objective }}</p>
  </div>
<hr>
  <div class="experience">
    <h2>Professional Experience</h2>
    <div *ngFor="let exp of resumeData.experience">
      <h3>{{ exp.title }} - {{ exp.company }} ({{ exp.date }})</h3>
      <p>{{ exp.location }}</p>
      <ul>
        <li *ngFor="let responsibility of exp.responsibilities">{{ responsibility }}</li>
      </ul>
    </div>
  </div>
<hr>
  <div class="education">
    <h2>Education</h2>
    <p>{{ resumeData.education.degree }} in {{ resumeData.education.university }}, {{ resumeData.education.location }}, {{ resumeData.education.graduationYear }}</p>
  </div>
<hr>
  <div class="skills">
    <h2>Technical Skills</h2>
    <ul>
      <li *ngFor="let skill of resumeData.skills">{{ skill }}</li>
    </ul>
  </div>
<hr>
  <div class="certifications">
    <h2>Certifications</h2>
    <ul>
      <li *ngFor="let certification of resumeData.certifications">{{ certification }}</li>
    </ul>
  </div>
  <hr>
  <div class="projects">
    <h2>Projects</h2>
    <h3>Portfolio Website</h3>
    <a target="_blank" href="https://portfolio-r1d8-git-develop-apekshaacharya8s-projects.vercel.app/">https://portfolio-r1d8-git-develop-apekshaacharya8s-projects.vercel.app/</a>
  </div>
</div>
